* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #3a6;
}
header {
	margin: 0 auto;
	width: 500px;
	height: 300px;
	text-align: center;
}
a {
	text-decoration: none;
	color: #fff;
}
li {
	list-style: none;
}
.menu {
	width: 200px;
	height: 80px;
	line-height: 80px;
	background-color: #936;
	position: relative;
}
.menu>a{
	font-size: 65px;
	text-transform: uppercase;
}
.menu ul li {
	display: inline-block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	background-color: #674;
}
.menu ul {
	display: none;
	position: absolute;
	width: 500px;
	margin-top: -20px;
}
.menu:hover ul {
	display: block;
}
.menu:hover {
	background-color: blue;
}
.menu ul li:hover {
	background-color: blue;
}
.number{
	position: absolute;
	top: 80px;
}
.menu>ul>li>ul>li {
	display: none;
	box-shadow: 1px 1px 2px 0 black;
}

.menu>ul>li:hover li {
	display: block;
}
.menu>ul>li>ul>li:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}